RewriteEngine On
RewriteBase /

# Kiểm tra nếu yêu cầu không phải là một tệp hoặc thư mục thực tế
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển hướng mọi yêu cầu đến index.php
RewriteRule ^(.+)$ doan1full/index.php/$1 [L,QSA]
