.banner-form {
    width: 83%;
    min-height: 500px;
    height: auto;
    background-color: rgb(210, 210, 210);
    margin: 100px 16.5%;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.banner-form h1 {
    text-align: center;
    width: 100%;
}

.banner-form .drag-area {
    border-radius: 8px;
    border: 1px black solid;
    width: 95%;
    min-height: 400px;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.banner-form .displayImg {
    width: 100%;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.banner-form .displayImg img {
    width: 100%;
}

.banner-form .displayImg .box button {
    position: absolute;
    top: 0;
    right: 0;
}

.banner-form .box {
    position: relative;
    width: 140px;
}

.banner-form .old-displayImg,
.new-displayImg {
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.banner-form .btn-box {
    width: 100%;
    text-align: center;
}

.banner-form .btn-box button {
    width: 70px;
    height: 30px;
}