.oder-form {
    width: 83%;
    height: 500px;
    background-color: rgb(210, 210, 210);
    margin: 100px 16.5%;
    overflow: hidden;
    border-radius: 8px;
    border: 1px black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

header {
    font-size: 2rem;
    font-weight: bold;
}

.Search {
    padding: 1% 0;
    display: flex;
}

input#search {
    font: caption;
    padding: 1%;
}

.filtering-box {
    padding: 1% 0;
    font: caption;
    width: 25%;
}

.Sort-box {
    padding: 1% 0;
    font: caption;
    width: 20%;
}

.table tbody tr:hover {
    background-color: rgb(210, 180, 180);
}

.table tbody tr:nth-child(odd) {
    background-color: rgb(171, 162, 162);
}

.mother-box {
    width: 98%;
    height: 70%;
    border: 1px solid black;
    border-radius: 8px;
}

.table {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    overflow-x: auto;
}

.table tr td:first-child {
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-height: 35px;
}

a {
    text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

select {
    appearance: none;
    font: caption;
    padding: 1% 1%;
}

tr td input {
    font: caption;
}

.table th {
    padding: 1% 0%;
    font-size: 1.1rem;
}

.table td {
    padding: 1% 0%;
    font-size: 1.3rem;
}

.oder-form .pagination-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.oder-form .pagination_link {
    display: block;
    min-width: 30px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 4px;
    margin-right: 3px;
    color: black;
}